$labelFontSize: 1rem;
$duration: 1s;
$animationDelay: 1s;

@mixin circle-color($name, $label, $foreground, $background) {
  .circle {
    &.#{$name} {
      svg {
        text {
          fill: $label;
        }
        .circle-background {
          stroke: $background;
        }
        .circle-foreground {
          @extend .circle-background;
          stroke: $foreground;
        }
      }
      &:hover {
        svg {
          .circle-background {
            fill: $label !important;
          }
        }
      }
      figcaption {
        color: $label;
      }
    }
  }
}

@mixin circle-hover($label, $foreground, $background) {
  .circle {
    &:hover {
      svg {
        .circle-background {
          fill: $background;
        }
        .circle-foreground {
          stroke: $foreground;
        }
        text {
          fill: $label;
        }
      }
      figcaption {
        color: $label;
      }
    }
  }
}

.circle {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &.animate {
      svg .circle-foreground {
        animation: offset $duration ease-in-out forwards;
        animation-delay: $animationDelay;
      }
      figcaption:after {
        animation-delay: $animationDelay;
      }
    }

    &:hover {
      svg {
        .circle-background {
          fill: gray;
        }
        .circle-foreground {
          stroke: #fff;
        }
        text {
          fill: #fff;
        }
      }
      figcaption {
        color: #fff;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      text {
        fill: gray;
        font-size: $labelFontSize*0.7;
        transition: all 0.2s linear;
      }
      .circle-background {
        transition: all 0.2s linear;
        fill: none;
        stroke: darkgrey;
      }
      .circle-foreground {
        @extend .circle-background;
        stroke: lightgrey;
        stroke-linecap: round;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
      }
    }

    figcaption {
      transition: all 0.2s linear;
      pointer-events: none;
      display: inline-block;
      width: 100%;
      height: $labelFontSize;
      overflow: hidden;
      text-align: center;
      color: gray;
      position: absolute;
      font-size: $labelFontSize;
      line-height: $labelFontSize;
      white-space: pre;
      font-weight: bold;
      margin-bottom: 1rem;
    }
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

